@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300..900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Public Sans", sans-serif;
  --font-sans: "Public Sans", sans-serif;
  --font-mono: ui-monospace, monospace;
  
  --color-editorial-bg: #FFFFFF;
  --color-editorial-ink: #1A1A1A;
  
  --color-brand-primary: var(--primary);
  --color-brand-sidebar: var(--sidebar-bg);
}

@layer base {
  * {
    font-style: normal !important;
  }
}

:root {
  --primary: #4ADE80; 
  --sidebar-bg: #2D2D3A;
  --sidebar-text: #FFFFFF;
  --bg-main: #F4F5F7;
}

body {
  @apply bg-[var(--bg-main)] text-editorial-ink font-sans;
}
